*.pyc
.idea
.vagrant
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/web/down.html
/data/cache
/data/cache-with-political
/data/new-cache
/MANIFEST
/build
/dist
/django_mapit.egg-info
*~
/.coverage

.sass-cache
/mapit/static/mapit/css
gis_data

# This is the name that the install notes suggest be used for the virtualenv
.venv

mapit_it/tab_CAP.csv

.DS_Store
django_mapit.egg-info
