*.pyc
.idea
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/web/down.html
/data/cache-with-political
/data/new-cache
/gis_data
/MANIFEST
/build
/dist
/django_mapit.egg-info
*~
/.coverage

/mapit_it/tab_CAP.csv

.sass-cache
/mapit/static/mapit/css

# This is the name that the install notes suggest be used for the virtualenv
.venv

.DS_Store
django_mapit.egg-info
